@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Worst Bracket Bingo</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Welcome to Worst Bracket Bingo</h2>
        <p>
            Filler text
        </p>
    </div>
</div>