@model IEnumerable<WorstBracketBingo.Models.Bracket>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Results" asp-route-id="@item.BracketID">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                <a asp-action="Manage" asp-route-id="@item.BracketID">Manage</a>
            </td>
        </tr>
}
    </tbody>
</table>
